.icon-wrapper {
  & + & {
    margin-left: var(--space);
  }
}
.icon {
  color: var(--text-primary);
  width: var(--size);
  height: var(--size);
  border-radius: 999px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  line-height: var(--icon-size);
  font-size: var(--icon-size);
  cursor: pointer;
  &:hover {
    filter: brightness(0.9);
  }
  &.hover-bright:hover {
    background-color: var(--alpha-bg);
  }
  &.bg-bright {
    background-color: var(--alpha-bg);
  }

  &.disabled {
    opacity: 0.5;
    user-select: none;
    cursor: not-allowed;
    &:hover {
      filter: brightness(1);
    }
  }
}
