.album {
  .section {
    margin-bottom: 0;
    position: relative;
  }
}
.album-detail {
  display: flex;
  padding-bottom: 30px;
  padding-top: 40px;
}
.album-info {
  width: 300px;
  margin-right: 30px;

  .media {
    padding: 0;
    flex-direction: column;
    &:hover {
      background-color: transparent;
      .media-icon {
        opacity: 1;
      }
    }
    &.active {
      background-color: transparent;
      .media-img {
        border-radius: 999px;
      }
      .media-thumbnail {
        filter: brightness(1);
        border-radius: 999px;
        animation: spinner 10s linear infinite;
      }
      .media-icon-wrapper {
        width: 45px;
        z-index: 1;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--white-color);
      }
      .media-icon {
        width: 18px;
        height: 18px;
        font-size: 1.8rem;
      }
    }
  }
  .media-icon {
    width: 45px;
    height: 45px;
    font-size: 4.5rem;
  }
  .media-name {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
    margin-top: 12px;
  }
  .media-img {
    width: 300px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 5px 8px 0 rgb(0 0 0 / 20%);
  }
  .media-info {
    align-items: center;
    margin-left: 0;
    margin-right: 0;
  }
  .media-update-time,
  .media-likes {
    line-height: 1.75;
    font-size: 1.2rem;
    color: var(--text-secondary);
  }
  .media-singers {
    line-height: 1.75;
  }
  .media-actions {
    justify-content: center;
  }
}
@keyframes spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.album-actions {
  display: flex;
  flex-direction: column;
}
.album-btn {
  margin: 16px auto;
  width: max-content;
}
.album-songs {
  flex: 1;
}
.album-desc {
  margin-bottom: 12px;
  color: var(--text-secondary);
}
.album-desc-content {
  color: var(--text-secondary);
  margin-left: 4px;
}

.album-song-number {
  margin-top: 12px;
  line-height: 1.75;
  font-size: 1.2rem;
  color: var(--text-secondary);
}
@media (max-width: 63.9375em) {
  .album-detail {
    flex-direction: column;
  }
  .album-info {
    margin-right: 0;
  }
}
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .album-info {
    width: 100%;
    margin-bottom: 30px;

    .media {
      flex-direction: row;
    }
    .media-img {
      margin-right: 20px;
      width: 200px;
      height: 200px;
    }
    .media-content {
      display: flex;
      flex-direction: column;
      align-content: space-between;
    }
    .media-info {
      align-items: flex-start;
      justify-content: flex-start;
    }
    .media-name {
      margin-top: 0;
    }
    .album-actions {
      flex-direction: row;
    }
    .album-btn {
      margin: 0;
    }
    .media-actions {
      margin-left: 10px;
    }
  }
}
@media (max-width: 46.25em) {
  .album-detail {
    align-items: center;
  }
  .album-info {
    align-items: center;
    .media {
      align-items: center;
    }

    .media-img {
      width: 150px;
      height: 150px;
    }
  }
  .album-songs {
    flex: unset;
    width: 100%;
  }
  .list {
    .media {
      &.show-album {
        .media-left {
          flex: 0 1 100%;
        }
      }
    }
  }
}
