.my-swiper {
  position: relative;
}
.my-swiper .swiper-arrow {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 50%;
  background-color: var(--white-color);
  color: #32323d;
  font-size: 1.8rem;
  line-height: 38px;
  display: flex;
  z-index: 3;
  align-items: center;
  justify-content: center;
}
.my-swiper .swiper-arrow.prev {
  left: 15px;
  transform: translate(-50%, -50%);
}
.my-swiper .swiper-arrow.next {
  right: 15px;
  transform: translate(50%, -50%);
}
.my-swiper .swiper-arrow.swiper-button-disabled,
.swiper-top-arrow.swiper-button-disabled {
  user-select: none;
  opacity: 0.3;
  cursor: default;
}
.swiper-top-arrows {
  position: absolute;
  right: 0;
  top: 0;
  height: 30px;
  display: flex;
  align-items: center;
}
.swiper-top-arrow {
  font-size: 1.8rem;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-primary);
  & + .swiper-top-arrow {
    margin-left: 20px;
  }
}
