.my-music {
  margin-top: 70px;

  .section-header {
    .section-title {
      font-size: 4rem;
      line-height: 48px;
    }
    .title-play-btn {
      height: 40px;
      width: 40px;
      font-size: 2rem;
      margin-left: 14px;
    }
  }
  .no-content-img {
    &.new-episode,
    &.saved-episode {
      background-image: var(--podcast-new-episode-empty);
    }
    &.followed-program {
      background-image: var(--record-empty);
    }
    &.mv {
      background-image: var(--mv-empty);
    }
    &.album {
      background-image: var(--album-empty);
    }
    &.upload-song {
      background-image: var(--upload-song);
    }
    &.empty-song {
      background-image: var(--empty-fav-song);
    }
  }
}

.my-music-navbar {
  margin: 30px 0;
  display: flex;
  border-bottom: 1px solid var(--border-color);
}
.my-music-header-link {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--nav-text);
  padding: 15px 0;
  display: block;
  &:hover {
    color: var(--link-text-hover);
  }
}
.my-music-header-link.active {
  color: var(--link-text-hover);
  border-bottom: 2px solid var(--purple-color);
}
.my-music-header-link + .my-music-header-link {
  margin-left: 40px;
}
.my-music-header-options {
  display: flex;
  margin-bottom: 20px;
}
.my-music-header-option {
  padding: 4px 10px;
  font-size: 1.2rem;
}
.my-music-header-option + .my-music-header-option {
  margin-left: 16px;
}

.my-music-header-option:not(.active):hover {
  color: var(--link-text-hover);
  border-color: var(--link-text-hover);
}

.my-music .media-left {
  flex: 0 0 50%;
}
.my-music .media-right {
  margin-left: auto;
}
@media (max-width: 46.1875em) {
  .my-music {
    .section-header {
      .section-title {
        font-size: 3.6rem;
        line-height: 40px;
      }
    }
  }
}
