.header-search {
  --header-search-max-width: 540px;
  --header-search-min-width: 316px;
  --header-search-height: 40px;

  max-width: var(--header-search-max-width);
  width: 100%;
  background-color: var(--alpha-bg);
  display: flex;
  border-radius: 999px;
  align-items: center;

  &:focus-within {
    background-color: var(--menu-bg);
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 20%);
  }
}
.header-search-icon {
  font-size: 2rem;
  color: var(--text-placeholder-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 8px;
  display: flex;
  height: var(--header-search-height);
  align-items: center;
  &:hover {
    color: var(--text-primary);
  }
}

.header-search-input {
  flex: 1;
  height: var(--header-search-height);
  border: none;
  outline: none;
  color: var(--input-text);
  background-color: transparent;
  line-height: 40px;
  font-size: 1.4rem;

  &::placeholder {
    color: var(--text-placeholder-color);
  }
}
.header-search-clear {
  border: none;
  background-color: transparent;
  color: var(--text-placeholder-color);
  font-size: 1.4rem;
  padding-left: 10px;
  padding-right: 15px;
  cursor: pointer;
  display: block;
}
