.history {
  margin-top: -60px;
}
.history-header {
  display: flex;
  align-items: center;
  margin: 0 calc(-1 * var(--layout-content-px)) 30px;
  padding: 0px var(--layout-content-px);
  border-bottom: 1px solid var(--border-color);
}
.history-title {
  color: var(--text-primary);
  font-size: 2.4rem;
  padding-right: 24px;
  border-right: 1px solid var(--border-color);
}
.history-links {
  display: flex;
  margin-left: 20px;
}
.my-music .history .media:first-child {
  border-top: none;
}
@media (max-width: 46.1875em) {
  .history-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .history-title {
    border-right: none;
  }
  .history-links {
    margin-left: 0;
    .my-music-header-link {
      & + .my-music-header-link {
        margin-left: 20px;
      }
    }
  }
}
