.sidebar {
  --sidebar-bottom-height: 54px;

  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  width: var(--sidebar-width);
  z-index: 13;
  background-color: var(--sidebar-bg);
  padding-bottom: var(--sidebar-bottom-height);

  .scrollbar {
    padding: 16px 25px 0 25px;
  }
}
//logo
.sidebar-logo {
  margin-left: 25px;
  min-height: 70px;
  height: 40px;
  width: 120px;
  display: flex;
  align-items: center;
  background-image: var(--logo);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

//navbar
.sidebar-nav-link {
  color: var(--nav-text);
  font-size: 1.3rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  cursor: pointer;
  padding: 7px 25px;

  &:hover {
    color: var(--text-item-hover);
  }

  &.active {
    color: var(--text-item-hover);
    background-color: var(--nav-active-bg);
    position: relative;
  }
}

.sidebar-nav-icon {
  font-size: 2.4rem;
  margin-right: 10px;
}

.sidebar-separator {
  margin: 16px 25px 16px;
  border-top: 1px solid var(--border-color);
  z-index: 2;
}
.sidebar-scroll {
  padding-bottom: 16px;
  overflow-y: overlay;
}
//banner
.sidebar-banner {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 10px 20px 16px;
  padding: 16px 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(117deg, #5a4be7, #c86dd7 102%);
}
.sidebar-banner-text {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  line-height: 1.6;
  color: var(--white-color);
}
.sidebar-banner-btn {
  text-align: center;
  background-color: var(--banner-btn-bg-color);
  color: var(--black-color);
  line-height: 1.4;
  padding: 6px 35px;
  border-radius: 999px;
  font-weight: 600;
  text-transform: uppercase;
}

//library
.sidebar-library {
  &:hover {
    .sidebar-library-editor {
      display: inline-flex;
    }
  }

  .sidebar-library-editor {
    display: none;
  }
  .sidebar-nav-icon {
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
  }
  .sidebar-nav-link {
    padding: 8px 25px;
    font-weight: 500;
  }
}
.sidebar-library-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 26px;
  margin-bottom: 8px;
  padding-left: 25px;
  padding-right: 20px;
}
.sidebar-library-heading {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
}
.sidebar-bottom {
  background-color: transparent;
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--sidebar-bottom-height);
}
.sidebar-create-playlist {
  height: 100%;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  color: var(--nav-text);
  cursor: pointer;
  transition: color linear 0.1s;
  font-size: 1.4rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  border-top: 1px solid var(--border-color);

  &:hover {
    color: var(--text-item-hover);
  }
}
.sidebar-create-playlist-icon {
  font-size: 1.8rem;
  margin-right: 8px;
  color: inherit;
}
@media (min-width: 64em) {
  .sidebar-nav-link {
    &.active {
      &::before {
        content: "";
        position: absolute;
        width: 3px;
        background-color: var(--purple-color);
        top: 0;
        bottom: 0;
        left: 0;
      }
    }
  }
}
@media (max-width: 63.9375em) {
  .sidebar {
    transition: width 0.3s linear;
    background-color: var(--sidebar-popup-bg);
    &.expand {
      width: var(--sidebar-expand-width);
      .sidebar-bottom {
        justify-content: flex-end;
        padding-right: 16px;
      }
      .sidebar-nav-link {
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .sidebar-separator {
        margin-top: 30px;
      }
      .sidebar-library {
        margin-top: 16px;
      }
    }

    &:not(.expand) {
      --logo: url("https://zjs.zmdcdn.me/zmp3-desktop/releases/v1.6.30/static/media/icon_zing_mp3_60.f6b51045.svg");

      .sidebar-logo {
        width: 45px;
        height: 45px;
        margin: 0 auto;
      }
      .sidebar-nav-text {
        display: none;
      }
      .sidebar-nav-link {
        padding: 15px 0;
        justify-content: center;
      }
      .sidebar-nav-icon {
        margin-right: 0;
      }
      .sidebar-nav-text {
        display: none;
      }
      .sidebar-library {
        margin-top: 24px;
        .sidebar-nav-link {
          padding: 8px 0px;
        }
      }
      .sidebar-library-header {
        display: none;
      }
    }
  }

  .sidebar-banner {
    display: none;
  }

  .sidebar-scroll {
    padding-bottom: 0;
  }
  .sidebar-bottom {
    justify-content: center;
    align-items: center;
  }
  .sidebar-expand {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: var(--alpha-bg);
    color: var(--text-primary);
  }
}
/* mobile < 740px */
@media (max-width: 46.1875em) {
  .sidebar {
    z-index: 13;
    position: absolute;
    right: 100%;
    transition: all 0.3s linear;
    &.show-mobile-sidebar {
      transform: translateX(100%);
    }
  }
}
