.header {
  height: var(--header-height);
  display: flex;
  padding: 0px var(--layout-content-px);
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: transparent;

  &.scrolling {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--layout-bg);
  }
}

//left: arrows, search
.header-left {
  flex: 1;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.header-sidebar-slider {
  font-size: 2.4rem;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-right: 12px;
}
.header-arrow {
  color: var(--text-primary);
  font-size: 2.4rem;
  cursor: pointer;
  padding: 0 20px 0 0;
  margin: 0;

  &.forward {
    margin-left: 0;
  }
}

//right: actions
.header-right {
  display: flex;
  .header-action {
    margin-left: 10px;
  }
}

.header-avatar {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
input#song-upload {
  display: none;
}
.header-setting-list {
  .menu-list {
    padding-bottom: 0;
  }
  .menu-separation ~ .menu-item {
    padding: 10px 20px;
  }
}

.menu-list {
  &.quality-list,
  &.player-setting {
    width: 274px;
    padding-bottom: 10px;
  }
  &.player-setting {
    .menu-item {
      line-height: normal;
      padding-left: 12px;
      padding-right: 12px;
      justify-content: space-between;
    }
    input[id^="switch"] {
      & ~ .switch-box {
        cursor: pointer;
        width: 25px;
        height: 15px;
        position: relative;
        border-radius: 999px;
        background-color: #a0a0a0;
        &::before {
          position: absolute;
          background-color: var(--white-color);
          content: "";
          width: 13px;
          height: 13px;
          left: 1px;
          top: 1px;
          border-radius: 999px;
        }
      }
      &:checked ~ .switch-box {
        background-color: var(--purple-color);
        &::before {
          left: unset;
          right: 1px;
        }
      }
    }
  }
}
.quality-list .menu-item {
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 15px;
}
.quality-list .menu-item:not(.active) .quality-icon {
  display: none;
}
.quality-icon {
  right: 15px;
  min-width: 25px;
  text-align: center;
  font-size: 1.8rem;
  top: 50%;
  color: var(--text-primary);
  transform: translateY(-50%);
  position: absolute;
}
.quality-heading {
  display: flex;
  align-items: center;
}
.quality-heading {
  color: var(--text-primary);
  font-weight: 700;
}
.quality-desc {
  margin-top: 6px;
  color: var(--text-secondary);
  line-height: 1.5;
  font-size: 1.2rem;
  padding-right: 30px;
}

.quality-heading-dot {
  width: 5px;
  height: 5px;
  margin: 0px 4px;
  display: inline-block;
  background-color: var(--text-primary);
  border-radius: 999px;
}

/* mobile < 740px */
@media (max-width: 46.1875em) {
  .header-left {
    margin-right: 0;
  }
  .header-search {
    position: relative;
    min-width: unset;
    max-width: unset;
    flex: 1;
    padding-right: 5px;
  }
  .header-sidebar-slider {
    cursor: pointer;
  }
  .header-search-input {
    width: 100%;
    &:placeholder-shown {
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .header-search-clear {
    padding-right: 10px;
  }
}
